/* =============
    Section 2
============= */
#section-2 {
    // padding-bottom: 32px;
    background-color: $section-2-gray;

    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2-container .";
    }


    #section-2-container {
        padding-top: 44px;

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-2-content section-2-image";
            padding: 50px 0;
        }

        @include lg {
            grid-template-areas: "section-2-image section-2-content";
            grid-area: section-2-container;
        }
            
        @include xl {
            grid-area: section-2-container;
        }
        
        section {
            margin-bottom: 44px;

            @include md {
                margin: 0;
            }

            #section-2-content {
                padding: 0 15px;
                grid-area: section-2-content;

                h1 {
                    text-align: center;
                    font-size: rem-calc(35);
                }

                p {
                    text-align: justify;
                    font-size: rem-calc(17);
                }
            }

        }
        
        aside {
            background-image: url('../img/section-2/shoes.jpg');
            background-size: cover;
            height: 320px;

            @include md {
                grid-area: section-2-image;
                height: 246px;
            }
    
            @include lg {
                height: 600px;
            }
    
            @include xl {
                height: 600px;
            }
        }
    }

}