/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-areas: ". footer .";
    background-color: $footer-black;

    @include md {
        grid-template-columns: 40% auto 40%;
    }

    @include lg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "social-icons . . credits";
    }

    >div{
        grid-area: footer;
        p {
            color: $white;
            text-align: center;
            span {
                color: $span-orange;
            }

            @include lg {
                // display: grid;
                grid-area: credits;
                // margin-right: 25px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 20px;
            padding-bottom: 10px;

            @include lg {
                // display: flex;
                // justify-content: unset;
                align-items: center;
                grid-area: social-icons;
                // justify-content: flex-start;
                // margin-left: 25px;
            }
            
        }
    }
}
